barchart svg {
  margin: 0 auto;
  width: 500px;
}

pane.report>div {
	padding: 20px;
}

body {
  padding: 5px;
  box-sizing: border-box;
}

/*
div.app {
  min-height: 800px;
  min-width: 1400px;
  margin: 0 auto;
}
*/

div.app {
  height: 100%;
}

html, body {
  background-color: #f5f5f5 !important
}

body {
  max-height: 800px;
  max-width: 1400px;
  margin: 0 auto;
}

div.breakdown-num {
  margin: auto;
}
